roomCosts {
  .list-ios {
    .item-ios {
      span {
        &:first-of-type {
          color: gray;
        }
        >span {
          color: #000!important;
        }
      }
      font-size: 1.4rem;
      p {
        margin-top: 0.6rem;
        &.redtip {
        color: #f53d3d;
          font-size: 1.2rem;
      }
      }
    }
  }
  ion-select {
    width: 100%;
    max-width: 100%;
    padding: 0 0.6rem!important;
    color: #000!important;
  }
  ion-label {
    display: flex;
    justify-content: space-between;
    white-space: initial;
  }
  .select-ios {
    padding-left: 0;
  }
  .single-row {
    padding: 2rem;
    width: 100%;
    button {
      width: 100%;
    }
  }

  .checkbox {
    ion-label {
      display: flex;
    }
    label {
      font-size: 1.2rem;
      margin-right: 1rem;
      input {
        vertical-align: bottom;
      }
      button {
        width: inherit;
      }
    }
  }
}
