<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      保洁服务
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="cleaning" (ionChange)="segmentChanged()">
      <ion-segment-button value="cleaningForm">
        申请服务
      </ion-segment-button>
      <ion-segment-button value="cleaningList">
        服务记录
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="cleaning">
    <ion-list *ngSwitchCase="'cleaningForm'" class="repair-form" no-lines>
      <ion-item>
        <ion-label floating>请输入服务内容</ion-label>
        <ion-textarea [(ngModel)]="formDetail.cleanContent"></ion-textarea>
      </ion-item>
      <ion-item class="with-arrow" (click)="changePhoneNo()">
        <ion-label>
          <img src="assets/img/xtb_1.png">
          联系电话
        </ion-label>
        <ion-input [(ngModel)]="formDetail.masterPhoneNo" readonly></ion-input>
      </ion-item>
      <ion-item class="with-arrow" (click)="changeName()">
        <ion-label>
          <img src="assets/img/xtb_2.png">
          联系人
        </ion-label>
        <ion-input [(ngModel)]="formDetail.masterName" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <img src="assets/img/xtb_3.png">
          维修地址
        </ion-label>
        <ion-input [(ngModel)]="formDetail.masterAddress" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <img src="assets/img/xtb_4.png">
          服务时间
        </ion-label>
        <ion-datetime displayFormat="YYYY年MM月DD日 hh:mm" [(ngModel)]="formDetail.changeDate" doneText="完成"
                      cancelText="取消"></ion-datetime>
      </ion-item>
      <ion-item class="sp-label">
        <label>
          <input type="radio" [(ngModel)]="formDetail.masterAtHome" value="true">业主在家</label>
        <label>
          <input type="radio" [(ngModel)]="formDetail.masterAtHome" value="false">业主不在家</label>
      </ion-item>

      <ion-item>
        <ion-label floating>我想说</ion-label>
        <ion-textarea [(ngModel)]="formDetail.comment"></ion-textarea>
      </ion-item>

      <div class="single-row">
        <button ion-button (click)="onClickSubmit()">提交</button>
      </div>
    </ion-list>


    <ion-list class="faultRepairList" *ngSwitchCase="'cleaningList'" no-lines>
      <ion-item *ngFor="let item of cleanList">
        <div>
          <p><span>服务时间:</span><span>{{item.needcleantime}}</span></p>
          <p><span>服务内容:</span><span>{{item.cleanmsg}}</span></p>
          <div class="bottom-bar">
            <span>服务价格：{{item.moneyinfo}}</span>
            <button *ngIf="!item.moneyed && !item.scored" ion-button (click)="goPayMoney(item)">待付费</button>
            <ion-icon *ngIf="item.moneyed && !item.scored" color="green" name="create-outline" (click)="goRating(item)"></ion-icon>
            <ion-icon *ngIf="item.moneyed && item.scored" color="green" name="checkmark"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
