cleaning {

  .form-common {
    .item-ios {
      &:not(:first-of-type) {
        .item-inner .input-wrapper .label-ios {
          flex: 0.6;
        }
      }
    }
  }

  .list-ios {
    ion-grid {
      text-align: center;
      ion-row {
        &.header {
          font-size: 1.6rem;
        }
        ion-col {
          &:nth-of-type(2) {
            flex: 2;
          }
          &:nth-of-type(3), &:nth-of-type(4) {
            flex: 0.5;
          }
        }
      }
    }
    .with-arrow {
      .item-inner {
        .input-wrapper:after {
          box-sizing: border-box;
          display: inline-block;
          font-family: Ionicons;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          content: "\f3d1";
          margin-right: 0.8rem;
          font-size: 2.6rem;
        }
      }
    }

    .item-ios {

      &:nth-of-type(4) {
        input {
          font-size: 1.4rem;
          margin-left: 0;
        }
      }
      ion-textarea {
        font-size: 1.5rem;
        border-bottom: 0.55px #eee solid;
        .text-input {
          height: 4 * 1.8rem;
        }
      }

      .label-ios {
        flex: 1;
        .input-ios {
          .text-input {
            padding-right: 0;
          }
        }
        .icon-ios {
          margin-right: 1rem;
        }
      }
      .datetime-ios {
        flex: 1;
        padding-left: 0;
        .datetime-text {
          margin-left: 1.4rem;
        }
        .label-ios {
          font-size: 1.4rem;
        }
      }
      .checkbox-ios {
        margin-right: 1rem;
        .checkbox-icon {
          width: 1.8rem;
          height: 1.8rem;
        }
        & + .item-inner {
          .input-wrapper {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .img-container {
    background-color: #fff;
    margin-top: 8px;
    padding: 1px 16px;
    color: #7f7f7f;
    ion-label {
      font-size: 1.6rem;
    }
  }
  .single-row {
    padding: 2rem;
    width: 100%;
    button {
      width: 100%;
    }
  }

  .faultRepairList {
    .item-ios {
      padding-left: 0;
      border-bottom: 0.55px #eee solid!important;
      .item-inner {
        padding-right: 0;
      }
    }
    .label-ios {
      margin-right: 0;
      white-space: normal;
      .icon-ios {
        font-size: 2.4rem;
      }
      ion-row {
        text-align: center;
        font-size: 1.4rem;
        &:not(.header) {
          font-size: 1.2rem;
        }
        &:first-of-type {
          ion-col:last-of-type {
            font-size: 1.4rem;
          }
        }
        ion-col {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          &:nth-of-type(2) {
            flex: 1.5;
          }
          &:nth-of-type(3) {
            flex: 1;
          }
          &:nth-of-type(4) {
            flex: 1;
            font-size: 1.8rem;
          }
          .button-ios {
            font-size: 1.2rem;
            height: 1.8rem;
            padding: 0.3rem;
          }
        }
      }

    }
  }
  .label-ios + ion-input .text-input {
    padding-right: 0;
  }
}
