<ion-header>
  <ion-navbar>
      <ion-title>
        邮件代收
      </ion-title>
      <ion-buttons end>
        <button ion-button color="black" (click)="addMailReceive()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="receiveTag" (ionChange)="segmentChanged()">
      <ion-segment-button value="notReceived">
        未签收
      </ion-segment-button>
      <ion-segment-button value="received">
        已签收
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="receiveTag">

    <ion-list *ngSwitchCase="'notReceived'" no-lines>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>快递单号</ion-col>
            <ion-col>快递公司</ion-col>
            <ion-col>是否送达</ion-col>
          </ion-row>

          <ion-row *ngFor="let itemNot of notReceivedList">
            <ion-col>{{itemNot.mailno}}</ion-col>
            <ion-col>{{itemNot.mailcom}}</ion-col>
            <ion-col *ngIf="itemNot.arrived">已到</ion-col>
            <ion-col *ngIf="!itemNot.arrived">未到</ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'received'" no-lines>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>快递单号</ion-col>
            <ion-col>快递公司</ion-col>
            <ion-col>签收时间</ion-col>
          </ion-row>

          <ion-row *ngFor="let item of receivedList">
            <ion-col>{{item.mailno}}</ion-col>
            <ion-col>{{item.mailcom}}</ion-col>
            <ion-col>{{item.finishtime}}</ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
    </ion-list>

  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
