<ion-header>
  <ion-navbar>
    <ion-title>
      邮件代收
    </ion-title>
    <ion-buttons end>
      <button ion-button color="black" (click)="addMailReceive()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="receiveTag" (ionChange)="segmentChanged()">
      <ion-segment-button value="notReceived">
        未签收
      </ion-segment-button>
      <ion-segment-button value="received">
        已签收
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="receiveTag">

    <ion-list class="faultRepairList" *ngSwitchCase="'notReceived'" no-lines>
      <div *ngIf="notReceivedList.length">
        <ion-item *ngFor="let itemNot of notReceivedList">
          <div>
            <img class="arrivecar" *ngIf="!itemNot.arrived" src="assets/img/waitarrive.png">
            <img *ngIf="itemNot.arrived" src="assets/img/arrived.png">
            <p><span>快递单号:</span><span>{{itemNot.mailno}}</span></p>
            <p><span>快递公司:</span><span>{{itemNot.mailcom}}</span></p>
          </div>
        </ion-item>
      </div>
      <div class="nodata-tip" *ngIf="!notReceivedList.length">
        没有数据~
      </div>
    </ion-list>

    <ion-list class="faultRepairList" *ngSwitchCase="'received'" no-lines>
      <div *ngIf="receivedList.length">
        <ion-item *ngFor="let item of receivedList">
          <div>
            <p><span>快递单号:</span><span>{{item.mailno}}</span></p>
            <p><span>快递公司:</span><span>{{item.mailcom}}</span></p>
            <p><span>签收时间:</span><span>{{item.finishtime}}</span></p>
          </div>
        </ion-item>
      </div>
      <div class="nodata-tip" *ngIf="!receivedList.length">
        没有数据~
      </div>
    </ion-list>

  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
