faultRepair {
  ion-content {
    background-color: #eee!important;
  }

  .list-ios {
    ion-grid {
      text-align: center;
      ion-row {
        &.header {
          font-size: 1.6rem;
        }
        ion-col {
          &:nth-of-type(2) {
            flex: 2;
          }
          &:nth-of-type(3), &:nth-of-type(4) {
            flex: 0.5;
          }
        }
      }
    }
    .with-arrow {
      .item-inner {
        .input-wrapper:after {
          box-sizing: border-box;
          display: inline-block;
          font-family: Ionicons;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          content: "\f3d1";
          margin-right: 0.8rem;
          font-size: 2.6rem;
        }
      }
    }

  }
  .img-container {
    background-color: #fff;
    margin-top: 8px;
    padding: 1px 16px;
    color: #7f7f7f;
    ion-label {
      font-size: 1.4rem;
    }
  }
  .single-row {
    padding: 2rem;
    width: 100%;
    button {
      width: 100%;
    }
  }

  .repair-form {
    ion-item.item-ios {
      font-size: 1.4rem;
      &:not(:first-of-type) {
        .item-inner .input-wrapper .label-ios {
          flex: 0.6;
        }
      }
      ion-textarea {
        font-size: 1.4rem;
        border: 0.55px #eee solid;
        .text-input {
          height: 4 * 1.8rem;
          padding-left: 1rem;
        }
      }

      .label-ios {
        flex: 1;
        img {
          width: 2rem;
          height: 2rem;
          margin-right: 0.4rem;
        }
        .input-ios {
          .text-input {
            padding-right: 0;
          }
        }
        .icon-ios {
          margin-right: 1rem;
        }
      }
      .datetime-ios {
        flex: 1;
        padding-left: 0;
        .datetime-text {
          margin-left: 1.4rem;
        }
        .label-ios {
          font-size: 1.4rem;
        }
      }
      .checkbox-ios {
        margin-right: 1rem;
        .checkbox-icon {
          width: 1.8rem;
          height: 1.8rem;
        }
        & + .item-inner {
          .input-wrapper {
            font-size: 1.5rem;
          }
        }
      }

      &.sp-label {
        border-top: 0.55px #eee solid;
        .label-ios {
          width: 100%;
          flex: 1 !important;
          display: flex;
          justify-content: space-around;
          label {
            flex: 1;
          }
        }
      }
      &:nth-of-type(4) {
        .input-wrapper:after {
          color: #fff;
        }
      }
      &:last-of-type {
        ion-label {
          margin-left: 8rem;
        }
      }
    }
    .label-ios {
      flex: 1;
      display: flex;
      align-items: center;
      img {
        width: 2.6rem;
        height: 2.6rem;
        margin-right: 1rem;
      }
      .input-ios {
        .text-input {
          padding-right: 0;
        }
      }
      .icon-ios {
        margin-right: 1rem;
      }
    }
  }

  .faultRepairList {
    ion-item {
      margin-bottom: 1rem !important;
      img:first-of-type {
        position: absolute;
        width: 5rem;
        right: 2rem;
      }
      p {
        margin-bottom: 1rem !important;
        span {
          &:last-of-type {
            color: #2d2d2d;
            margin-left: 1rem;
          }
        }
        &:last-of-type {
          margin-bottom: 0 !important;
        }
      }
      ion-icon {
        color: $green-app;
      }
      .bottom-bar {
        font-size: 1.3rem;
        line-height: 2.6;
        color: gray;
        margin-top: 2rem;
        margin-bottom: -0.4rem;
        border-top: 0.55px #eee dashed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          font-size: 1.2rem !important;
        }
      }
    }
  }
  .label-ios + ion-input .text-input {
    padding-right: 0;
  }
  .label-ios[stacked] {
    font-size: 1.4rem;
  }
}
