<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      故障报修
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="faultRepair" (ionChange)="segmentChanged()">
      <ion-segment-button value="faultRepairForm">
        申请维修
      </ion-segment-button>
      <ion-segment-button value="faultRepairList">
        维修记录
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="faultRepair">
    <ion-list *ngSwitchCase="'faultRepairForm'" no-lines class="repair-form">
      <ion-item>
        <ion-label floating>请输入报修内容</ion-label>
        <ion-textarea [(ngModel)]="formDetail.repairContent"></ion-textarea>
      </ion-item>
      <ion-item class="with-arrow" (click)="changePhoneNo()">
        <ion-label>
          <img src="assets/img/xtb_1.png">
          联系电话
        </ion-label>
        <ion-input [(ngModel)]="formDetail.masterPhoneNo" readonly></ion-input>
      </ion-item>
      <ion-item class="with-arrow" (click)="changeName()">
        <ion-label>
          <img src="assets/img/xtb_2.png">
          联系人
        </ion-label>
        <ion-input [(ngModel)]="formDetail.masterName" readonly></ion-input>
        <input type="hidden" [(ngModel)]="formDetail.masterSex">
      </ion-item>
      <ion-item>
        <ion-label>
          <img src="assets/img/xtb_3.png">
          维修地址
        </ion-label>
        <ion-input [(ngModel)]="formDetail.masterAddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <img src="assets/img/xtb_4.png">
          报修时间
        </ion-label>
        <ion-datetime displayFormat="YYYY年MM月DD日 hh:mm" [(ngModel)]="formDetail.changeDate" doneText="完成"
                      cancelText="取消"></ion-datetime>
      </ion-item>
      <ion-item class="sp-label">
        <label>
          <input type="radio" [(ngModel)]="formDetail.masterAtHome" value="true">业主在家</label>
        <label>
          <input type="radio" [(ngModel)]="formDetail.masterAtHome" value="false">业主不在家</label>
      </ion-item>
      <div class="img-container">
        <ion-label>照片上传</ion-label>
        <ion-grid>
          <ion-row>
            <ion-col width-33><img [src]="imageUri0" tappable (click)="onPickImg(0)"></ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="single-row">
        <button ion-button (click)="onClickSubmit()">提交</button>
      </div>
    </ion-list>


    <ion-list class="faultRepairList" *ngSwitchCase="'faultRepairList'" no-lines>
      <ion-item *ngFor="let item of repairList">
        <div>
          <p><span>维修时间:</span><span>{{item.needrepairtime}}</span></p>
          <p><span>维修内容:</span><span>{{item.repairmsg}}</span></p>
          <div class="bottom-bar">
            <span>维修价格：{{item.moneyinfo}}</span>
            <button *ngIf="!item.moneyed && !item.scored" ion-button (click)="goPayMoney(item)">待付费</button>
            <ion-icon *ngIf="item.moneyed && !item.scored" color="green" name="create-outline" (click)="goRating(item)"></ion-icon>
            <ion-icon *ngIf="item.moneyed && item.scored" color="green" name="checkmark"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
