announceList {
  ion-content {
    background-color: #eee!important;
  }
  .content-ios{
    background-color: #f8f8f8;
    .list-ios {
      padding: 1rem;
      .item-ios {
        border: 0.55px #eee solid;
        border-radius: 0.6rem;
        margin-bottom: 1rem;
        &:first-child {
          border-top: 0.55px #eee solid;
        }
        &:last-child {
          border-bottom: 0.55px #eee solid;
        }
        h3 {
          padding-top: 1rem;
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 1rem;
          color: #4d4d4d;
          &:last-child::before {
            content: '';
            background-image: url("../assets/img/clock.png");
            background-size: 1.6rem 1.6rem;
            background-repeat: no-repeat;
            padding-left: 2rem;
            width: 2rem;
            height: 2rem;
          }
        }
        img {
          width: 100%;
          height: 10rem;
          margin-bottom: 1rem;
        }
        .item-inner {
          border: none;
        }
      }
    }
  }
}
