electricCosts {
  .list-ios {
    .item-ios {
      font-size: 1.4rem;
      .label-ios {
        display: flex;
        justify-content: space-between;
        >span {
          &:first-of-type {
            color: gray;
          }
        }
      }
    }
  }
  ion-select {
    width: 100%;
    max-width: 100%;
    padding: 0 0.6rem!important;
    color: #000!important;
  }
  .select-ios {
    padding-left: 0;
  }
  .single-row {
    padding: 2rem;
    width: 100%;
    button {
      width: 100%;
    }
  }

}
