<ion-header>
  <ion-navbar>
    <ion-title>缴费记录</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="payRecord" (ionChange)="segmentChanged()">

      <ion-segment-button value="electricRecord">电费</ion-segment-button>
      <ion-segment-button value="waterRecord">水费</ion-segment-button>
      <ion-segment-button value="netRecord">网费</ion-segment-button>
      <ion-segment-button value="propertyRecord">物业费</ion-segment-button>
      <ion-segment-button value="roomRecord">房租</ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="payRecord">

    <ion-list *ngSwitchCase="'electricRecord'" no-lines>
      <ion-item *ngFor="let item of feeList">
        <h2 item-left>{{item.create_time}}</h2>
        <span item-right>{{item.money}}元</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'waterRecord'" no-lines>
      <ion-item *ngFor="let item of feeList">
        <h2 item-left>{{item.create_time}}</h2>
        <span item-right>{{item.money}}元</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'netRecord'" no-lines>
      <ion-item *ngFor="let item of feeList">
        <h2 item-left>{{item.create_time}}</h2>
        <span item-right>{{item.money}}元</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'propertyRecord'" no-lines>
      <ion-item *ngFor="let item of feeList">
        <h2 item-left>{{item.create_time}}</h2>
        <span item-right>{{item.money}}元</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'roomRecord'" no-lines>
      <ion-item *ngFor="let item of feeList">
        <h2 item-left>{{item.create_time}}</h2>
        <span item-right>{{item.money}}元</span>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
