<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span>取消</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="input-row" *ngIf="title == '修改联系电话'">
    <ion-input type="number" [(ngModel)]="formDetail.masterPhoneNo" placeholder="请输入电话号码"></ion-input>
  </div>

  <div class="input-row" *ngIf="title == '修改联系人'">
    <ion-input type="text" [(ngModel)]="formDetail.masterName" placeholder="请输入联系人名"></ion-input>
    <label><input type="radio" [(ngModel)]="formDetail.masterSex" [value]="true">先生</label>
    <label><input type="radio" [(ngModel)]="formDetail.masterSex" [value]="false">女士</label>
  </div>
  <div class="single-row">
    <button ion-button (click)="onClickSubmit()">确定</button>
  </div>
</ion-content>
