modal {
  .input-row {
    margin: 1rem 2rem;
    ion-input {
      border-bottom: 0.55px #e4e4e4 solid;
    }
    label {
      display: inline-flex;
      margin-top: 2rem;
      padding: 0 1rem;
      &:first-of-type {
        margin-right: 30%;
      }
    }
  }
  .single-row {
    padding: 2rem;
    width: 100%;
    button {
      width: 100%;
    }
  }

  .rating {
    margin: 4rem 3rem;
    div:first-of-type {
      text-align: center;
      margin-bottom: 1rem;
      ion-icon {
        color: #EFA421;
        font-size: 3rem;
        margin: 0 0.4rem;
      }
    }
    ion-textarea {
      height: auto;
      padding: 1rem;
      border:  0.55px #eee solid;
      border-radius: 0.8rem;
      textarea {
        margin: 0;
        padding-right: 0;
        height: 8rem;
      }
    }
  }
}
