mineNav {
  ion-content {
    background-color: #eee!important;
  }
  .list-ios {
    .item-ios {
      color: gray;
      align-items: center;
      &:first-of-type {
        height: 15rem;
        color: #4d4d4d;
        background-color: #eee;
        border-bottom: 0.55px #c8c7cc solid;
        .item-inner {
          border: none;
        }
        .label-ios {
          margin: 3rem 1rem 3rem 0;
          h2 {
            margin-bottom: 3.5rem;
            span {
              font-size: 1.5rem;
              margin-left: 1rem;
            }
          }
          p {
            img {
              width: 2.4rem;
              vertical-align: bottom;
            }
          }
        }
      }
      font-size: 1.6rem;

      ion-icon {
        color: gray;
        &:first-of-type {
          margin-right: 1rem;
        }
      }

      ion-thumbnail {
        img {
          height: 8rem;
          width: 8rem;
          max-width: 8rem;
          max-height: 8rem;
          margin-right: 0!important;
          border-radius: 100%;
          box-sizing: content-box;
          border: 3px #fff solid;
        }
      }
      .item-inner {
      }
      ion-thumbnail[item-left] {
        margin-left: 2.5rem;
        img {
          border-radius: 50%;
        }
      }

      &:not(:first-of-type) {
        .label-ios {
          display: flex;
          align-items: center;
          img {
            width: 2.6rem;
            height: 2.6rem;
            margin-right: 1rem;
          }
        }
      }

    }
  }
}
