<ion-header>
  <ion-toolbar>
    <ion-title>
      首页
    </ion-title>
    <ion-buttons end>
      <button ion-button color="black" (click)="onClickNotices()"><img src="assets/img/fx_5.png"><sup class="sup-red"></sup><img src="assets/img/fx_5.png" *ngIf=""></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="mySlideOptions">

    <ion-slide style="background-color: green">
      <h2>Slide 1</h2>
    </ion-slide>

    <ion-slide style="background-color: blue">
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide style="background-color: red">
      <h2>Slide 3</h2>
    </ion-slide>

  </ion-slides>

  <ion-grid>
    <ion-row center>
      <ion-col class="item-box" tappable (click)="onClickItem(1)"><img src="assets/img/sy_1.png"><br>通知公告</ion-col>
      <ion-col class="item-box" tappable (click)="onClickItem(2)"><img src="assets/img/sy_2.png"><br>费用交纳</ion-col>
      <ion-col class="item-box" tappable (click)="onClickItem(3)"><img src="assets/img/sy_3.png"><br>故障报修</ion-col>
      <ion-col class="item-box" tappable (click)="onClickItem(4)"><img src="assets/img/sy_4.png"><br>管家服务</ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines>
    <ion-item *ngFor="let item of gardenList" (click)="onClickDetail(item.gid)">
      <div class="item-content">
        <div>
          <ion-thumbnail>
            <img [src]="item.imgurl">
          </ion-thumbnail>
          <div>
            <p><span>{{item.name}}</span><span>{{item.area}}㎡</span></p>
            <p><span>{{item.rent}}{{item.rent_unit}}</span></p>
            <p><span>{{item.gname}}</span><span>{{item.decoration}}</span></p>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
