<ion-header>
  <ion-toolbar>
    <ion-title>
      首页
    </ion-title>
    <ion-buttons end>
      <button ion-button color="black" (click)="onClickNotices()"><img src="assets/img/fx_5.png"><sup class="sup-red"></sup><img src="assets/img/fx_5.png" *ngIf=""></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="mySlideOptions">

    <ion-slide style="background: url('assets/img/slide1.jpg')">
    </ion-slide>
    <ion-slide style="background: url('assets/img/slide2.jpg')">
    </ion-slide>
    <ion-slide style="background: url('assets/img/slide3.jpg')">
    </ion-slide>

  </ion-slides>

  <ion-grid>
    <ion-row center>
      <ion-col class="item-box" tappable (click)="onClickItem(1)"><img src="assets/img/sy_1.png"><br>通知公告</ion-col>
      <ion-col class="item-box" tappable (click)="onClickItem(2)"><img src="assets/img/sy_2.png"><br>费用交纳</ion-col>
      <ion-col class="item-box" tappable (click)="onClickItem(3)"><img src="assets/img/sy_3.png"><br>故障报修</ion-col>
      <ion-col class="item-box" tappable (click)="onClickItem(4)"><img src="assets/img/sy_4.png"><br>管家服务</ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines>
    <ion-item *ngFor="let item of gardenList" (click)="onClickDetail(item.gid)">
      <div class="item-content">
        <div>
          <ion-thumbnail>
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1485335794&di=2ef27c5abc1f3dcedc7b4b7519187ae8&imgtype=jpg&er=1&src=http%3A%2F%2Fimg10.3lian.com%2Fshow2014%2F4%2F69%2F10.jpg">
            <!--<img [src]="item.imgurl">-->
          </ion-thumbnail>
          <div>
            <p><span>{{item.name}}</span><span>{{item.area}}㎡</span></p>
            <p><span>{{item.rent}}{{item.rent_unit}}元/月</span></p>
            <p><span>{{item.gname}}</span><span>{{item.decoration}}</span></p>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
