hirer-main {
  ion-header {
    ion-title {
      text-align: center;
    }
    ion-buttons {
      img {
        height: 2.4rem;
        width: 2.4rem;
      }
    }
  }

  ion-slides {
    height: 33%;
  }
  .slide-container {
    width: 100%;
    min-height: 100px;

    img {
      width: 100%;
      height: auto;
    }
  }

  ion-grid {
    border-bottom: 0.55px #eee solid;
  }

  .item-box {
    color: gray;
    padding: 10px;
    text-align: center;
    img {
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
    }
  }
  .list-ios {
    margin-top: 0;
  }

  ion-item {
    .input-wrapper {
      border-bottom: 0.55px #eee solid;
    }
  }

  .item-content {
    & > div {
      display: flex;
      ion-thumbnail {
        min-width: 7.6rem;
        min-height: 7.6rem;
      }
      div {
        width: 100%;
        p {
          color: #000;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          font-size: 1.5rem;
          &:nth-of-type(2) {
            color: red;
          }
          &:last-of-type {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .sup-red {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: red;
    vertical-align: super;
    margin-left: -6px;
  }
}
